.lista-produtos {
    border-collapse: collapse;
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
    margin: 0 auto;
    padding: 10px 0 10px 0;
}

th {
    text-align: center;
    font-size: 24px;
    color: #008080;
    background-color: rgb(249, 255, 206);
}

th, tr {
    border-bottom: 1px solid rgb(214, 193,226);
    padding: 12px 0;
    text-align: center;
    vertical-align: middle;
}

td:first-child {
    text-align: left;
}

tr:hover {
    background-color: #ddd;
}